<section>
  <ui-header></ui-header>
</section>
<section>
  <h2>Demo</h2>
  <p class="lead">
    The form below is rendered by
    <a href="https://github.com/ngx-plus/ngx-alerts"><b><code>@ngx-plus/ngx-alerts</code></b></a> . Follow the steps on the <b><a routerLink="/installation">Installation</a></b> page to get started.
  </p>
</section>
<section>
  <div class="row">
    <div class="col-lg-6">
      <ngx-form [config]="formConfig"
                [item]="item"
                (action)="handleAction($event)">
      </ngx-form>
    </div>
    <div class="col-lg-6">
      <ui-card icon="fa fa-fw fa-bell-o"
               title="Alerts">
        <div class="ui-card-block">
          <button (click)="handleAction({ type: 'success' })"
                  class="btn btn-block btn-success mb-2">Success
          </button>
          <button (click)="handleAction({ type: 'error' })"
                  class="btn btn-block btn-danger mb-2">Error
          </button>
          <button (click)="handleAction({ type: 'warning' })"
                  class="btn btn-block btn-warning mb-2">Warning
          </button>
          <button (click)="handleAction({ type: 'info' })"
                  class="btn btn-block btn-info mb-2">Info
          </button>
          <button (click)="handleAction({ type: 'question' })"
                  class="btn btn-block btn-primary mb-2">Question
          </button>
        </div>
      </ui-card>
    </div>
  </div>
</section>
